<!--Footer-->
<footer id="footer" class="footer3">
    <div id="footer-inner">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 widget">
                    <h4>My Account</h4>
                    <ul class="links">
                        <li><a href="#" title="My account">My account</a></li>
                        <li><a href="#" title="Personal information">Personal information</a></li>
                        <li><a href="#" title="Addresses">Addresses</a></li>
                        <li><a href="#" title="Discount">Discount</a></li>
                        <li><a href="#" title="Orders history">Orders history</a></li>
                        <li><a href="#" title="Your vouchers">Your vouchers</a></li>
                        <li><a href="#" title="Safe shopping">Safe shopping</a></li>
                        <li><a href="#" title="Size guides">Size guides</a></li>
                    </ul>
                </div>
                <!-- End .col-sm-4 -->

                <div class="col-sm-4 widget">
                    <h4>Customer Service</h4>
                    <ul class="links">
                        <li><a href="#" title="Help &amp; Contact">Help &amp; contact</a></li>
                        <li><a href="#" title="Shipping &amp; taxes">Shipping &amp; taxes</a></li>
                        <li><a href="#" title="Return policy">Return policy</a></li>
                        <li><a href="#" title="Careers">Careers</a></li>
                        <li><a href="#" title="Affiliates">Affiliates</a></li>
                        <li><a href="#" title="Legal Notice">Legal Notice</a></li>
                        <li><a href="#" title="Privacy &amp; Security">Privacy &amp; Security</a></li>
                        <li><a href="#" title="Sitemap">Sitemap</a></li>
                    </ul>
                </div>
                <!-- End .col-sm-4 -->

                <div class="col-xs-4 widget">
                    <h4>From Twitter</h4>
                    <ul class="twitter-widget">

                    </ul>
                </div>
                <!-- End .col-sm-4 -->

            </div>
            <!-- End .row -->
        </div>
        <!-- End .container -->
    </div>
    <!-- End #footer-inner -->

    <div id="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 clearfix">
                    <p class="copyright-text">&copy;
                        <script>
                            document.write(new Date().getFullYear())
                        </script> Rukhlinks&trade;. All Rights Reserved.</p>

                    <ul class="social-links color2 clearfix">
                        <li>
                            <a href="#" class="social-icon icon-facebook" title="Facebook"></a>
                        </li>
                        <li>
                            <a href="#" class="social-icon icon-twitter" title="Twitter"></a>
                        </li>
                        <li>
                            <a href="#" class="social-icon icon-rss" title="Rss Feed"></a>
                        </li>
                        <li>
                            <a href="#" class="social-icon icon-delicious" title="Delicious"></a>
                        </li>
                        <li>
                            <a href="#" class="social-icon icon-linkedin" title="Linkedin"></a>
                        </li>
                        <li>
                            <a href="#" class="social-icon icon-flickr" title="Flickr"></a>
                        </li>
                        <li>
                            <a href="#" class="social-icon icon-skype" title="Skype"></a>
                        </li>
                        <li>
                            <a href="#" class="social-icon icon-email" title="Email"></a>
                        </li>
                    </ul>
                </div>
                <!-- End .col-md-12 -->
            </div>
            <!-- End .row -->
        </div>
        <!-- End .container -->
    </div>
    <!-- End #footer-bottom -->

</footer>
<!-- End #footer -->
</div>
<!-- End #wrapper -->

<!-- scroltop -->
<a href="#header" id="scroll-top" title="Go to top">Top</a>

<!-- END -->

<!-- Google map javascript api v3 -->
<script src="//maps.googleapis.com/maps/api/js?sensor=false"></script>

<script src="../../../storeAssets/js/bootstrap.min.js"></script>
<script src="../../../storeAssets/js/smoothscroll.js"></script>
<script src="../../../storeAssets/js/waypoints.js"></script>
<script src="../../../storeAssets/js/waypoints-sticky.js"></script>
<script src="../../../storeAssets/js/jquery.debouncedresize.js"></script>
<script src="../../../storeAssets/js/retina.min.js"></script>
<script src="../../../storeAssets/js/jquery.placeholder.js"></script>
<script src="../../../storeAssets/js/jquery.hoverIntent.min.js"></script>
<script src="../../../storeAssets/js/owl.carousel.min.js"></script>
<script src="../../../storeAssets/js/twitter/jquery.tweet.min.js"></script>
<script src="../../../storeAssets/js/jquery.themepunch.tools.min.js"></script>
<script src="../../../storeAssets/js/jquery.themepunch.revolution.min.js"></script>
<script src="../../../storeAssets/js/jquery.stellar.min.js"></script>
<script src="../../../storeAssets/js/maplabel.js"></script>
<script src="../../../storeAssets/js/main.js"></script>

<script>
    $(function() {
        "use strict";
        // Slider Revolution
        jQuery('#revslider').revolution({
            delay: 8000,
            startwidth: 1170,
            startheight: 600,
            fullWidth: "on",
            fullScreen: "off",
            hideTimerBar: "on",
            spinner: "spinner3",
        });
    });
</script>
</body>

</html>