<!DOCTYPE html>
<!--[if IE 9]> <html class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html>
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <title>Rukhlinks - Premium Jewelry Store For Men</title>
    <meta name="description" content="Rukhlinks is a premium jewelry store for men">

    <!--[if IE]> <meta http-equiv="X-UA-Compatible" content="IE=edge"> <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../../../../storeAssets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../../storeAssets/css/revslider-section.css">
    <link rel="stylesheet" href="../../../../storeAssets/css/style.css">
    <link rel="stylesheet" href="../../../../storeAssets/css/responsive.css">

    <!-- Favicon and Apple Icons -->
    <link rel="icon" type="image/png" href="../../../../storeAssets/images/icons/icon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="../../../../storeAssets/images/icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../../../../storeAssets/images/icons/apple-icon-72x72.png">

    <!--- jQuery -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
        window.jQuery || document.write('<script src="js/jquery-2.1.1.min.js"><\/script>')
    </script>