<body>
    <div id="wrapper">

        <div id="sticky-header" class="fullwidth-menu header1" data-fixed="fixed"></div>
        <!-- End #sticky-header -->
        <header id="header" class="fullwidth-menu header1">
            <div class="container" data-clone="sticky">
                <div class="row">
                    <div class="col-sm-12 clearfix">
                        <div class="logo-container">
                            <div class="logo clearfix">
                                <a style='font-weight: 100;' class="nav-brand" href="index.html" title="Rukhlinks - Premium Jewelry Store For Men">
                                    Rukh<span style='font-weight: bold;'>links</span>
                                </a>
                            </div>
                        </div>
                        <!-- End .logo-container-->

                        <div class="right-side clearfix">
                            <div class="search-container">
                                <form action="#" class="search-form">
                                    <input type="search" name="s" class="s" placeholder="Search entry site here...">
                                    <a href="#" title="Close Search" class="search-close-btn"></a>
                                    <input type="submit" value="Submit" class="search-submit-btn">
                                </form>
                            </div>
                            <!-- End .search-container -->

                            <div class="right-side-wrapper">
                                <a href="#" class="header-search-btn" title="Search"></a>

                                <div class="user-dropdown dropdown">
                                    <a title="My Account" class="dropdown-toggle" data-toggle="dropdown"> <span class="dropdown-icon"></span>
                                        <span class="dropdown-text">User</span></a>

                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">My Account</a></li>
                                        <li><a href="#">My Wishlist</a></li>
                                        <li><a href="checkout.html">Checkout</a></li>
                                        <li><a href="login.html">Login</a></li>
                                    </ul>
                                </div>
                                <!-- End .user-dropdown -->

                                <div class="cart-dropdown dropdown pull-right">
                                    <a title="Shopping Cart" class="dropdown-toggle" data-toggle="dropdown"><span class="dropdown-icon"></span>
                                        <span class="badge">2</span><span class="dropdown-text">Shopping Cart</span></a>

                                    <div class="dropdown-menu">
                                        <p class="cart-desc">2 item(s) in your cart - $658.00</p>

                                        <div class="product clearfix">
                                            <a href="#" class="delete-btn" title="Delete Product"></a>
                                            <figure class="product-image-container">
                                                <a href="product.html" title="Mustard yellow ruffle dress">
                                                    <img src="../../../../storeAssets/images/products/product9.jpg" alt="Product image" class="product-image">
                                                </a>
                                            </figure>
                                            <div class="product-content">
                                                <h3 class="product-name"><a href="product.html" title="Mustard yellow ruffle dress">Mustard
                                                        yellow ruffle dress</a></h3>
                                                <div class="product-price-container">
                                                    <span class="product-price">$478.00</span>
                                                </div>
                                                <!-- End .product-price-container -->
                                            </div>
                                            <!-- End .product-content -->

                                        </div>
                                        <!-- End .product -->

                                        <div class="product clearfix">
                                            <a href="#" class="delete-btn" title="Delete Product"></a>
                                            <figure class="product-image-container">
                                                <a href="product.html" title="Navy Blue Silk Pleated Shift Dress">
                                                    <img src="../../../../storeAssets/images/products/product2.jpg" alt="Product image" class="product-image">
                                                </a>
                                            </figure>
                                            <div class="product-content">
                                                <h3 class="product-name"><a href="product.html" title="Navy Blue Silk Pleated Shift Dress">Navy
                                                        Blue Silk Pleated Shift Dress</a></h3>
                                                <div class="product-price-container">
                                                    <span class="product-old-price">$250.00</span>
                                                    <span class="product-price">$180.00</span>
                                                </div>
                                                <!-- End .product-price-container -->
                                            </div>
                                            <!-- End .product-content -->
                                        </div>
                                        <!-- End .product -->

                                        <div class="clearfix">
                                            <ul class="pull-left action-info-container">
                                                <li>Shipping: <span class="first-color">$7.00</span></li>
                                                <li>Tax: <span class="text-lowercase">free</span></li>
                                                <li>Total: <span class="first-color">$665.00</span></li>
                                            </ul>
                                            <ul class="pull-right action-btn-container">
                                                <li><a href="cart.html" class="btn btn-custom-5">Cart</a></li>
                                                <li><a href="cart.html" class="btn btn-custom">Checkout</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- End .cart-dropdown -->
                            </div>
                            <!-- End .right-side-wrapper -->

                            <nav id="main-nav" role="navigation">
                                <div id="responsive-nav">
                                    <a id="responsive-btn" href="#">
                                        <span class="responsive-btn-icon">
                                            <span class="responsive-btn-block"></span>
                                        <span class="responsive-btn-block"></span>
                                        <span class="responsive-btn-block last"></span>
                                        </span>
                                        <span class="responsive-btn-text">Menu</span>
                                    </a>
                                    <!-- responsive-nav-button -->
                                    <div id="responsive-menu-container">

                                    </div>
                                    <!-- End #responsive-menu-container -->
                                </div>
                                <!-- End .responsive-nav -->

                                <ul class="menu clearfix">
                                    <li><a href="/">Home</a></li>
                                    <li class="megamenu-container"><a href="/shop">Shop</a></li>
                                    <li><a href="/blog">Blog</a></li>
                                    <li><a href="/contact">Contact</a></li>
                                </ul>